@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./lib/fonts/Dongle-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('./lib/fonts/Dongle-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./lib/fonts/Dongle-Bold.ttf') format('woff2'),
}

:root {
  --dark: #141F20;
  --bg: #FDFFFD;
  --bg-dark: #B6BCB5;
  --main: #FCBD27;
  --main-dark: #DD9502;

  --bb-light: rgba(187, 133, 83, 1);
  --bb-dark: rgba(128, 79, 35, 1);
}

* {
  font-family: 'Dongle', sans-serif;

  padding: 0;
  margin: 0;
  max-width: 100vw !important;
  overflow-x: hidden;
}

.color-main {
  color: var(--main);
}

.color-bg {
  color: var(--bg);
}

.color-bb-light {
  color: var(--bb-light);
}

.color-bb-dark {
  color: var(--bb-dark);
}

.logo-container {
  width: 60%;
  
  display: inline-flex;
  align-items: center;
  margin-left: 7vw;

  color: var(--dark);
}

.logo-container h1 {
  font-size: 4rem;
}